#title{
    letter-spacing: 0.5em;
}
p{
    letter-spacing: 1.5px;
}
body{
    background-color: #A2E0F3;
}
#newquestion{
    width: 45px;
    height: 45px;
}
#button{
    background-color: #A2E0F3;
    width: 12em;
}
#tag{
    background-color: #A2E0F3;
    width: 8em;
    height: 1.7em;
    font-size: 18px;
    text-align: center;
}
#spacedTitle{
    letter-spacing: 1.5px;
}