#title{
    letter-spacing: 0.5em;
}

#welcome-title{
    letter-spacing: 0.2em;
    font-size: 70px;
}

#welcome-subtitle{
    letter-spacing: 0.2em;
    font-size: 30px;
}

#welcome-motto{
    letter-spacing: 0.2em;
    font-size: 25px;
}

p{
    letter-spacing: 0.2em;
}
body{
    background-color: #A2E0F3;
}
#newquestion{
    width: 45px;
    height: 45px;
}
#button{
    background-color: #A2E0F3;
    width: 12em;
}
#button:hover{
    box-shadow: 3px 6px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
}
#tag{
    background-color: #A2E0F3;
    width: 8em;
    height: 1.7em;
    font-size: 18px;
    text-align: center;
}
.fab-button {
    position: fixed;
    background-color: #3585db;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    padding: 16px;
    cursor: pointer;
    border-radius: 7% / 25%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  }
  
  .fab-button:hover {
    background-color: #0062cc;
    transform: translateY(-1.7px);
  }
  
  .fab-button:active {
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      transform: translateY(1px);
      transition: transform 0.1s ease-in-out;
    }


.easymde-container.CodeMirror {
    border: none;
    background-color: green;
}
.easymde-preview img {
    max-width: 100%;
    height: auto;
}
#card{
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.1s ease-in-out;
}
#card:hover{
    box-shadow: 5px 10px 12px rgba(0, 0, 0, 0.4), 0px 2px 10px rgba(0, 0, 0, 0.2);
}
#profpicture:hover{
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.1s ease-in-out;
}


.detailed_content_view_textarea .editor-preview{
    padding: 0;
    position: relative;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.detailed_content_view_textarea .CodeMirror>div[tabindex = "-1"][draggable = "true"]{
    display: none;
}

.detailed_content_view_textarea .EasyMDEContainer .CodeMirror{
    padding: 6px;
}


.card_content_view_textarea .editor-preview{
    padding: 0;
    position: relative;
    max-height: 220px  ;
    overflow: hidden;
    background-color: white;
}

.card_content_view_textarea .CodeMirror>div[tabindex = "-1"][draggable = "true"]{
    display: none;
}

.card_content_view_textarea .EasyMDEContainer .CodeMirror{
    padding: 6px;
}
